// Override pipeline defaults for Imperial CX3 (PBS Pro + Singularity)

singularity {
    enabled        = true
    autoMounts     = false
    runOptions     = '--bind /rds/:/rds/ --no-home'
    cacheDir       = '/rds/general/project/streptococcal_surveillance/live/Fleming/singularity_cache'
}

executor {
    name      = 'pbs'
    queueSize = 50
}

params {
  // Core
  outdir = "results"
  reference = ""
  primers = ""
  target_regions_bed = ""
  additional_metadata = ""

  // Input modes
  basecall = false
  raw_read_dir = ""
  fastq_dir = ""

  // Basecalling / dorado
  basecall_model = "dna_r10.4.1_e8.2_400bps_hac@v4.3.0"
  basecall_model_path = ""
  dorado_local_path = ""
  barcode_kit = ""
  barcode_kit_name = ["SQK-NBD114-24"]
  trim_adapters = "all"
  read_format = "fastq"

  // QC / filtering
  min_qscore = 9
  lower_read_length_cutoff = 450
  upper_read_length_cutoff = 800
  cutadapt_args = "-e 0.15 --no-indels --overlap 18"
  masking_quality = 15

  coverage_reporting_thresholds = "1,2,8,10,25,30,40,50,100"
  coverage_filtering_threshold = "25"

  // Outputs
  save_fastqs = true
  keep_sorted_bam = true
  keep_bam_files = false
  save_trimmed = true
  save_too_short = true
  save_too_long = true

  // Variant / phylo
  clair3_model = ""
  clair3_min_coverage = 8
  min_ref_gt_qual = 0
  min_alt_gt_qual = 0
  raxml_base_model = "GTR+G4"
  raxml_threads = 2
  gubbins_filter_percentage = 25
  gubbins_threads = 2

  // Reports
  multiqc_config = ""
  monochrome_logs = false

  // misc
  threads = 1
}

process {
    executor = 'pbs'
    queue    = 'v1_small24'

    withName: 'CAT_FASTQ' {
        cpus   = 2
        memory = '8 GB'
        time   = '2h'
        queue  = 'v1_small24'
    }
    withName: 'INDEX_REF' {
        cpus   = 2
        memory = '4 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'FASTQC' {
        cpus   = 2
        memory = '4 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'CUT_PRIMERS' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
        queue  = 'v1_small24'
    }
    withName: 'MASK_READS' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
        queue  = 'v1_small24'
    }
    withName: 'MINIMAP2_INDEX' {
        cpus   = 4
        memory = '8 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'MINIMAP2_ALIGN' {
        cpus   = 8
        memory = '16 GB'
        time   = '4h'
        queue  = 'v1_small24'
    }
    withName: 'SAMTOOLS_SORT' {
        cpus   = 4
        memory = '8 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'SAMTOOLS_INDEX_BAM' {
        cpus   = 2
        memory = '4 GB'
        time   = '1h'
        queue  = 'v1_small24'
    }
    withName: 'CALL_VARIANTS:CLAIR3_CALL' {
        cpus   = 8
        memory = '32 GB'
        time   = '12h'
        queue  = 'v1_medium72'
    }
}
