manifest {
  name            = 'ONTAP'
  author          = 'ONTAP'
  homePage        = 'https://github.com/nickjcroucher/ONTAP'
  description     = 'ONT amplicon processing pipeline'
  mainScript      = 'main.nf'
  nextflowVersion = '>=24.10.0'
}

params {
  // Core
  outdir = "results"
  reference = ""
  primers = ""
  target_regions_bed = ""
  additional_metadata = ""

  // Input modes
  basecall = false
  raw_read_dir = ""
  fastq_dir = ""

  // Basecalling / dorado
  basecall_model = "dna_r10.4.1_e8.2_400bps_hac@v4.3.0"
  basecall_model_path = ""
  dorado_local_path = ""
  barcode_kit = ""
  barcode_kit_name = ["SQK-NBD114-24"]
  trim_adapters = "all"
  read_format = "fastq"

  // QC / filtering
  min_qscore = 9
  lower_read_length_cutoff = 450
  upper_read_length_cutoff = 800
  cutadapt_args = "-e 0.15 --no-indels --overlap 18"
  masking_quality = 15

  coverage_reporting_thresholds = "1,2,8,10,25,30,40,50,100"
  coverage_filtering_threshold = "25"

  // Outputs
  save_fastqs = true
  keep_sorted_bam = true
  keep_bam_files = false
  save_trimmed = true
  save_too_short = true
  save_too_long = true

  // Variant / phylo
  clair3_model = ""
  clair3_min_coverage = 8
  min_ref_gt_qual = 0
  min_alt_gt_qual = 0
  raxml_base_model = "GTR+G4"
  raxml_threads = 2
  gubbins_filter_percentage = 25
  gubbins_threads = 2

  // Reports
  multiqc_config = ""
  monochrome_logs = false

  // misc
  threads = 1
}

process {
  executor = 'local'
  cpus     = 1
  memory   = '4 GB'
  time     = '4h'

  withLabel: cpu_1  { cpus = 1; memory = '2 GB'; time = '2h'  }
  withLabel: cpu_2  { cpus = 2; memory = '4 GB'; time = '4h'  }
  withLabel: cpu_4  { cpus = 4; memory = '8 GB'; time = '8h'  }
  withLabel: mem_1  { memory = '1 GB' }
  withLabel: mem_4  { memory = '4 GB' }
  withLabel: mem_8  { memory = '8 GB' }
  withLabel: time_1 { time = '1h' }
  withLabel: time_12 { time = '12h' }
  withLabel: time_30m { time = '30m' }

  // If modules include GPU labels but laptop has no GPU, leave unchanged;
  // they will run on CPU unless executor/GPU constraints are explicitly set.
}

profiles {
  laptop {
    process.executor = 'local'
    conda.enabled    = true
    docker.enabled   = false
    singularity.enabled = false
  }

  docker {
    docker.enabled = true
    conda.enabled  = false
  }

  conda {
    conda.enabled  = true
    docker.enabled = false
  }
}
